<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <strong class="txt-nowrap"><a href="https://www.fizzy.do" target="_blank" class="txt-subtle"><%= icon_tag "fizzy", class: "v-align-middle" %> Fizzy™</a></strong> is designed, built, and backed by <strong class="txt-nowrap"><%= icon_tag "37signals", class: "v-align-middle" %> <a href="https://37signals.com" target="_blank" class="txt-subtle">37signals™</a></strong>.
</div>