<% bubble.assignments.each do |assignment| %>
  <div class="bubble__bubble bubble__meta bubble__assignee">
    <%= form_with url: bucket_bubble_assignments_path(bubble.bucket, bubble), data: { controller: "form" } do |form| %>
      <label class="btn btn--plain position-relative fill-transparent">
        <%= avatar_image_tag assignment.assignee, loading: :lazy, class: "avatar flex-item-no-shrink" %>

        <%= form.collection_select :assignee_id, bubble.bucket.users.active, :id, :name, { prompt: "Assign to…", selected: bubble.assignees.pluck(:id) },
              class: "input input--hidden txt-medium",
              data: { action: "change->form#submit click->form#showPicker" } %>
        <span class="for-screen-reader">Assign to…</span>
      </label>
    <% end %>
  </div>
<% end %>
