<section id="considering-cards" class="cards cards--considering"
  data-drag-and-drop-target="container"
  data-drop-target="considering">
  <div class="cards__decoration"></div>

  <%= render "columns/show/add_card_button", collection: collection %>

  <% if page.used? %>
    <%= render "collections/columns/list", cards: @page.records, draggable: true %>

    <% unless page.last? %>
      <div class="full-width">
      </div>
    <% end %>
  <% end %>

  <div class="cards__decoration cards__decoration--end"></div>
</section>
