<% @page_title = "Link expired" %>

<div class="panel panel--centered center flex flex-column gap-half" style="--panel-size: 50ch;">
  <h1 class="txt-x-large font-weight-black margin-none">
    <%= @page_title %>
  </h1>
  <p class="margin-none-block-start margin-block-end-half">
    That email confirmation link is no longer valid—they expire after 30 minues. You’ll have to try again.
  </p>

  <%= link_to "Change my email address", new_user_email_address_path(user_id: @user, script_name: @user.account.slug), class: "btn btn--link center" %>
</div>
