<div class="card__collection">
  <span class="card__id"><%= notification.card.id %></span>
  <span class="card__collection-name overflow-ellipsis">
    <%= notification.card.collection.name %>
  </span>
</div>
