<label class="card__collection">
  <span class="card__id">
    <span class="for-screen-reader">Card number</span>
    <%= card.id %>
  </span>
  <span class="card__collection-name">
    <span class="overflow-ellipsis"><%= card.collection.name %></span>
  </span>
  <%= yield %>
</label>
