<dialog class="lightbox" aria-label="Image Viewer (Press escape to close)" data-lightbox-target="dialog" data-action="close->lightbox#reset">
  <img src="" class="lightbox__image" data-lightbox-target="zoomedImage" />

  <div class="lightbox__btn">
    <button class="btn fill-white" title="Close (esc)" data-action="keydown.esc->lightbox#close:stop" data-controller="hotkey">
      <%= icon_tag "remove" %>
      <span class="for-screen-reader">Close image viewer (esc)</span>
    </button>
  </div>
</dialog>
